

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
      <%= image_tag @picture.image.url(:thumb) %><br>
        <h5>Comments: </h5>
      <% @picture.comments.each do |comment| %>

       <div class="card-content">
      <%= comment.user.email %>
      <%= comment.comment %> <br>
 </div>

      <% end %>

<%= form_for [ @picture, @comment ] do |comment| %>
  <%= comment.label :comment %>
  <%= comment.text_area :comment %>
  <%= comment.submit 'Submit Comment', class: "btn btn-lg btn-primary" %>
<%end%>
</div>
</div>
</div>
</div>
